<div class="page">
    <div class="about-me-text">
        <h2>Hi,</h2>
        Ich bin Silas, 25 Jahre alt und komme aus Dortmund. Zusammen mit Forum Wiedenest bin ich für ein Jahr in Peru, um dort an einer Bibelschule zu arbeiten.
        Im letzten Semester habe ich meinen Bachelor in Informatik beendet und möchte mit meinen Kenntnissen und Fähigkeiten Gottes Reich dienen.
        Außerdem möchte ich dieses Jahr dafür nutzen, um auf Gott zu schauen und zu hören, was er in meinem Leben vorhat.<br><br>
        
        Ich habe mich für Peru entschieden, da ich bewusst meine gewohnte (westliche) Umgebung verlassen und mich neuen Herausforderungen stellen möchte. Ich freue mich darauf, zu erleben, wie Menschen aus komplett anderen Kulturen Gott begegnen und von ihnen lernen.<br><br>

        Auf dieser Seite möchte ich dir von meinem Einsatz berichten und mit dir meine Erlebnisse in Form von Bildern und Videos teilen.
        Ich versuche möglichst jeden Monat einen neuen Blogbeitrag zu veröffentlichen.
        Falls du immer auf dem Laufenden bleiben möchtest, kannst du mir gerne auf Instagram folgen und mir schreiben wenn du benachrichtigt werden möchtest, sobald ich einen neuen Blogbeitrag veröffentliche.

    </div>
    <div class="about-me-image-container">
        <img src="assets/fotos/PXL_20240728_191633309.NIGHT.jpg" alt="Silas" class="about-me-image" />
    </div>
</div>

<app-kontakt></app-kontakt>