<div class="page">
    <div class="about-me-text">
        <h2>Hi,</h2>
        Ich bin Silas, 25 Jahre alt und komme aus Dortmund. 
        Im letzten Semester habe ich meinen Bachelor in Informatik beendet und möchte mit meinen Kenntnissen und Fähigkeiten Gottes Reich dienen. 
        Zusammen mit dem Forum Wiedenest bin ich für ein Jahr in Peru, um dort auf Cashibo, einer Bibelschule im Amazonasgebiet, zu arbeiten.
        <br><br>
        Ursprünglich komme ich aus Lüdenscheid im Sauerland und bin für mein Studium nach Dortmund gezogen. 
        Neben meinem Studium war ich viel in der Hochschul SMD (Studentenmission in Deutschland) aktiv und habe dort mein Herz für den Missionsdienst entdeckt. 
        Mich zieht es schon lange ins Ausland, um dort andere Kulturen kennenzulernen und zu sehen, wie die Menschen außerhalb unserer westlichen Kultur denken und leben. 
        Außerdem möchte ich dieses Jahr als "Auszeit" dafür nutzen, um auf Gott zu schauen und zu hören was er in meinem Leben vor hat.
        <br><br>
        Auf dieser Seite möchte ich dir von meinem Einsatz berichten und mit dir meine Erlebnisse in Form von Bildern und Videos teilen.
        Dazu werde ich regelmäßig Blogbeiträge veröffentlichen, in denen ich von meinen aktuellsten Erlebnissen berichte und Gebetsanliegen teile. 
        Falls du immer auf dem Laufenden bleiben möchtest, kannst du mir gerne auf Instagram folgen und mir schreiben, wenn du benachrichtigt werden möchtest, sobald ich einen neuen Blogbeitrag veröffentliche.

    </div>
    <div class="about-me-image-container">
        <img src="assets/fotos/PXL_20240728_191633309.NIGHT.jpg" alt="Silas" class="about-me-image" />
    </div>
</div>

<app-kontakt></app-kontakt>