<div class="forum-wiedenest-page">

    <h1 class="header">
        Forum Wiedenest e.V.
    </h1>

    <div class="intro">
        <div class="logo" aria-hidden="true">
            <a href="https://www.wiedenest.de/" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/W-WM-Coral.png" alt="Forum Wiedenest Logo" class="forum-wiedenest-logo"/>
            </a>
        </div>

        <div class="vorstellung-text">
            Forum Wiedenest e.V. ist ein christliches, gemeinnütziges Bildungs- und
            Veranstaltungszentrum: An der Biblisch-Theologischen Akademie werden jährlich etwa 140
            junge Menschen für haupt- und nebenberufliche Aufgaben in christlichen Gemeinden und
            der Mission ausgebildet. Im Tagungs- und Veranstaltungsbereich des Jugend- und
            Gemeindeforums finden zahlreiche Fortbildungen, Konferenzen und Freizeiten mit mehreren
            Tausend Teilnehmern pro Jahr statt. Der Arbeitszweig Weltweite Mission betreut zurzeit
            etwa 180 Missionare und Kurzzeitmitarbeiter, die z. B. als Ärzte, Lehrer oder
            Gemeindegründer in 30 Ländern Hilfe vor Ort leisten.
        </div>
    </div>

</div>