<div class="page">
  <a class="kontakt-row" href="https://instagram.com/silas.detering" target="_blank" rel="noopener">
    <i class="bi bi-instagram"></i>
    <span class="kontakt-text">&#64;silas.detering</span>
  </a>
  <a class="kontakt-row" href="https://instagram.com/cashibros" target="_blank" rel="noopener">
    <i class="bi bi-instagram"></i>
    <div class="kontakt-info-block">
      <span class="kontakt-text">&#64;cashibros</span>
      <span class="kontakt-note">(Ich & meine Mitbewohner in Peru)</span>
    </div>
  </a>
  <a class="kontakt-row" href="mailto:hallo@silas-in-peru.de">
    <i class="bi bi-envelope"></i>
    <div class="kontakt-info-block">
      <span class="kontakt-text">hallo&#64;silas-in-peru.de</span>
      <span class="kontakt-note">Schreib mir, wenn du über neue Beiträge benachrichtigt werden möchtest</span>
    </div>
  </a>
  <div class="kontakt-row">
    <i class="bi bi-whatsapp"></i>
    <span class="kontakt-text" style="font-style: italic;">(peruanische Nummer folgt)</span>
  </div>
  <a class="kontakt-row" href="https://maps.app.goo.gl/yDaC1Sb3BiDfoSVA9" target="_blank" rel="noopener">
    <i class="bi bi-pin-map"></i>
    <span class="kontakt-text" style="font-style: italic;">Silas Detering, Misión Suiza, Casillo 1, 25000 Pucallpa, Peru </span>
  </a>
</div>