<div class="page">
  <div class="kontakt-row">
    <i class="bi bi-instagram"></i>
    <span class="kontakt-text">&#64;silas.detering</span>
  </div>
  <div class="kontakt-row">
    <i class="bi bi-instagram"></i>
    <div class="kontakt-info-block">
      <span class="kontakt-text">&#64;cashibros</span>
      <span class="kontakt-note">(unsere Truppe in Peru)</span>
    </div>
  </div>
  <div class="kontakt-row">
    <i class="bi bi-envelope"></i>
    <div class="kontakt-info-block">
      <span class="kontakt-text">hallo&#64;silas-in-peru.de</span>
      <span class="kontakt-note">Schreib mir, wenn du über neue Beiträge benachrichtigt werden möchtest</span>
    </div>
  </div>
    <div class="kontakt-row">
    <i class="bi bi-whatsapp"></i>
    <span class="kontakt-text" style="font-style: italic;">(peruanische Nummer folgt)</span>
  </div> 
</div>