<app-support></app-support>

<div class="footer">
    <div>
      <a href="https://www.wiedenest.de/" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/Mission-Coral.png" alt="Forum Wiedenest" class="wiedenest-logo" />
      </a>
    </div>
        <div>
        <p class="sponsor-label">Gefördert durch</p>
        <a href="https://www.wiedenest.de/" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/BMFSFJ_SC_Weiss3.png" alt="Bundesministerium für Bildung, Familie, Senioren, Frauen und Jugend" class="bjfd-logo" />
      </a>
    </div>
</div>