<app-support></app-support>

<div class="footer">
    <div>
      <a href="https://www.cashibo.org/" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/msp.png" alt="Mision Suiza en el Peru" class="msp-logo" />
      </a>
    </div>
    <div>
      <a href="https://www.wiedenest.de/" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/Mission-Coral.png" alt="Forum Wiedenest" class="wiedenest-logo" />
      </a>
    </div>
    <div class="sponsor-column">
      <p class="sponsor-label">Gefördert durch</p>
      <a href="https://www.bmbfsfj.bund.de" target="_blank" rel="noopener noreferrer">
        <img src="assets/img/BMFSFJ_SC_Weiss3.png" alt="Bundesministerium für Bildung, Familie, Senioren, Frauen und Jugend" class="bjfd-logo" />
      </a>
    </div>
</div>

<div class="impressum mb-4">
  <p>ⓒ 2026 Silas in Peru Blog</p>
  <p><a href="/impressum">Impressum & Datenschutz</a></p>
</div>

