.location-page {
    text-align: center;
    padding: 0 10%;
    color: #CAD2C5;
}

.video-container {
    position: relative;
    padding-bottom: 450px;
    height: 0;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.text {
    flex: 1;
    min-width: 400px;
}

.image {
    flex: 0 0 auto;
}

.image img {
    max-width: 500px;
    height: auto;
}

.time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.1rem;
    text-align: center;
    font-size: 30px;
}

.time-item {
    flex: 1 1 200px; /* Flexibles Layout mit Mindestbreite */
    min-width: 200px; /* Mindestbreite für jede Uhrzeit */

}