<div class="location-page">

    <div class="text-image-container">
        <div class="text">
            Meinen Einsatz in Peru mache ich mit Forum Wiedenest in kooperation mit dem schweizer Missionswerk Indicamino.
            Indicamino ist ein christliches Missionswerk, das sich auf die Arbeit mit indigenen Völkern in Südamerika spezialisiert hat.
            In Peru betreibt Indicamino eine Missionsstation namens Cashibo welche sich in der Nähe der Stadt Pucallpa befindet.
            Pucallpa liegt am Rand des Dschungels und am Ufer des Ucayali Flusses, der ein Nebenfluss des Amazonas ist.
            <br><br>
            Die Arbeit auf Cashibo umfasst die Ausbildung von einheimischen Pastoren, die Unterstützung von indigenen Stämmen und die Ausbildung in handwerklichen Fähigkeiten.
            Auf Cashibo können die Einheimischen lernen, wie sie mit Werkzeugen umgehen, ihre eigenen Möbel herstellen oder kaputte Geräte selbständig reparieren.
            Der Fokus liegt dabei auf der Hife zur Selbsthilfe damit die Menschen in der Region ein selbstbestimmtes Leben führen können.
            <br>
            Neben den handwerklichen Fähigkeiten wird auch viel Wert auf die geistliche Ausbildung gelegt. 
            Die Einheimischen lernen, mehr über die Bibel und den christlichen Glauben, um ihren Glauben zu vertiefen und in ihren Gemeinden zu teilen.
            Auf Cashibo laufen auch Projekte in denen die Bibel in die indigenen Sprachen übersetzt wird. 
            Das betrifft zum Teil auch Sprachen die zuvor keine geschriebene Form besaßen und diese somit erst entwickelt werden müssen.

        </div>

        <div class="image">
            <img src="assets/img/south-america-outline-with-pucalpa.png" class="outline" />
        </div>
    </div>

    <div class="time-container mt-4">
        <h2 class="time-item">
            <i class="bi bi-clock clock"></i>
        </h2>

        <div class="time-item">
            <p class="time-germany">Heimat:</p>
            <span id="time-germany"></span>
        </div>

        <div class="time-item">
            <p class="time-difference">-7 St.</p>
        </div>
        
        <div class="time-item">
            <p class="time-peru">Peru: </p>
            <span id="time-peru"></span>
        </div>
    </div>

    <div class="time-container mt-4">
        <h2 class="time-item">
            <i class="bi {{ weatherIcon }} clock"></i>
        </h2>

        <div class="time-item">
            <p class="time-germany">{{ temperature !== null ? temperature + '°C' : '...' }}</p>
        </div>

        <h2 class="time-item">
            <i class="bi bi-moisture clock"></i>
        </h2>
        
        <div class="time-item">
            <p class="time-peru">{{ humidity !== null ? humidity + '%' : '...' }}</p>
        </div>
    </div>

    <br>

    <h1 class="mt-4">
        Offizielles Vorstellungsvideo von Cashibo 
    </h1>

    <div class="video-container mt-4">
        <iframe 
        src="https://www.youtube-nocookie.com/embed/LzOEhn6ERIo" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>

</div>