<div class="location-page">

    <div class="text-image-container">
        <div class="text">
            Für meinen Einsatz in Peru hat mich Forum Wiedenest an das schweizer Missionswerk Indicamino vermittelt.
            Indicamino ist ein Missionswerk, das sich auf die Arbeit mit indigenen Völkern in Südamerika spezialisiert hat.
            In Peru betreibt Indicamino eine Missionsstation namens Cashibo welche sich in der Nähe von Pucallpa befindet.
            Pucallpa ist eine Stadt im Dschungel von Peru und liegt am Ufer des Ucayali Flusses, der ein Nebenfluss des Amazonas ist.
            <br><br>
            Die Arbeit auf Cashibo umfasst die Ausbildung von einheimischen Pastoren, die Unterstützung von indigenen Stämmen und die Ausbildung in handwerklichen Fähigkeiten.
            Auf Cashibo können die Einheimischen lernen, wie sie mit Werkzeugen umgehen, ihre eigenen Möbel herstellen oder kaputte Geräte selbständig reparieren.
            Der Fokus liegt dabei auf der Hife zur Selbsthilfe damit die Menschen in der Region ein selbstbestimmtes Leben führen können.
            
        </div>

        <div class="image">
            <img src="assets/img/south-america-outline-with-pucalpa.png" class="outline" />
        </div>
    </div>

    <div class="time-container mt-4">
        <h2 class="mt-2">
            <i class="bi bi-clock clock"></i>
        </h2>

        <div class="time-item">
            <p class="time-germany">Deutschland:</p>
            <span id="time-germany"></span>
        </div>
        
        <div class="time-item">
            <p class="time-peru">Peru: </p>
            <span id="time-peru"></span>
        </div>
    </div>

    <h2 class="mt-4">
        Offizielles Vorstellungsvideo von Indicamino 
    </h2>

    <div class="video-container mt-4">
        <iframe 
        src="https://www.youtube.com/embed/LzOEhn6ERIo" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>

</div>