<div class="location-page">

    <div class="text-image-container">
        <div class="text">
            Text, als Platzhalter für die Karte, damit ich schauen kann ob die Karte auch wirklich funktioniert.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus, congue vel laoreet ac, dictum vitae odio.
            Morbi quis commodo odio aenean sed adipiscing.
            Suspendisse in justo eu magna luctus suscipit. Sed lectus. Praesent elementum facilisis leo, vel fringilla est ullamcorper eget.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus, congue vel laoreet ac, dictum vitae odio.
        </div>

        <div class="image">
            <img src="assets/img/south-america-outline-with-pucalpa.png" class="outline" />
        </div>
    </div>

    <div class="time-container mt-4">

        <h2 class="mt-2">
            <i class="bi bi-clock-fill"></i>
        </h2>

        <div class="time-item">
            <p class="time-germany">Deutschland:</p>
            <span id="time-germany"></span>
        </div>
        
        <div class="time-item">
            <p class="time-peru">Peru: </p>
            <span id="time-peru"></span>
        </div>
    </div>

    <h2 class="mt-4">
        Offizielles Vorstellungsvideo von Indicamino 
    </h2>

    <div class="video-container mt-4">
        <iframe 
        src="https://www.youtube.com/embed/LzOEhn6ERIo" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
        </iframe>
    </div>

</div>