<div class="blog-post">
    <div class="meta-row">
        <span class="meta-item">
            <i class="bi bi-calendar2"></i>
            <span class="date">Januar, 10.01.2026</span>
        </span>
        <a class="meta-item" href="https://www.google.com/maps/d/u/0/edit?mid=1XwTONSIhZ6QbwFJBCmRQFyy3Ug3IV78&usp=sharing" target="_blank" rel="noopener">
            <i class="bi bi-geo-alt"></i>
            <span class="location">Tingo Maria, Lima, Huánuco, Paracas, Cashibo</span>
        </a>
    </div>
    <hr class="spacer">


    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image1" class="blog-float-image-left blog-float-image-portrait" />

            Hola,
            <br>

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image2" class="blog-float-image-left blog-float-image-portrait" />

            <h4>Tingo Maria</h4>
            
            Text

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image3" class="blog-float-image-left" />

            <h4>Weihnachten auf Cashibo</h4>
            
            Text

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image4" class="blog-float-image-left blog-float-image-portrait" />

            <h4>Silvester in Lima</h4>
            
            Text

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image5" class="blog-float-image-left blog-float-image-portrait" />

            <h4>Huánuco & Paracas</h4>
            
            Text

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">


            <div class="signature-row">
                <img src="assets/img/unterschrift.png" alt="Unterschrift Silas" class="signature-image" />
                <a href="/bilder" class="signature-link" aria-label="Mehr Fotos ansehen"><i class="bi bi-images"></i> <i class="bi bi-arrow-right-short"></i></a>
            </div>
        </div>
    </div>

    <div class="gebetsanliegen">
        <img src="assets/img/prayer.png" class="gebetsanliegen-image" alt="Gebetsanliegen Icon" />

        <div class="gebetsanliegen-content">
            <h3>Gebetsanliegen</h3>
            <p class="bullets-intro">Hier ein paar Punkte, die ihr gern im Gebet mittragen könnt:</p>
            <ul class="bullets" role="list" aria-label="Gebetsanliegen">
                <li><span class="bullet-title">Bibelschüler:</span> Betet bitte für die Bibelschüler, die jetzt wieder
                    in ihren Heimatdörfern sind. Betet dafür, dass Sie in ihren Alltag das einbringen können, was sie
                    auf Cashibo kennengelernt haben</li>
                <li><span class="bullet-title">Weihnachten:</span> Das ist für mich das erste Mal Weihnachten fern von
                    zu Hause. Bitte betet dafür dass es trotzdem schön wird und mir weiterhin Heimweh erspart bleibt.
                </li>
                <li><span class="bullet-title">Sprache:</span> Betet gerne weiter für gute Fortschritte & Motivation im
                    Spanisch lernen, damit ich mich bald noch besser verständigen kann.</li>
            </ul>
        </div>
    </div>

</div>