<div class="page">

    <h1>Die anderen Voluntarios</h1>

    <img src="assets/img/voluntarios-group-photo.JPEG" alt="Gruppenfoto der Voluntarios" class="foto" />

    <div class="text">
        Die anderen Voluntarios, die zusammen mit mir nach Cashibo ausgesand wurden. 
        Enno ist 19 Jahre alt und hilft bei praktischen Arbeiten auf dem Gelände.
        Eva ist ebenfalls 19 Jahre alt und arbeitet mit den indigenen Kindern oder unterrichtet in der Miki-Schule.
        Tom ist 21 Jahre alt, gelernter Tischler und arbeitet in der Schreinerei des Projekts.
        Karolina ist 20 Jahre alt, besitzt eine Ausbildung als Medizinische Fachangestellte und unterstützt den Arzt in der Enfi.
        Annkathrin ist 18 Jahre alt und arbeitet ebenfalls mit indigenen Kindern oder betreut die Kinder der Missionarsfamilien.
    </div>
</div>