<div class="page">

    <h1>Die anderen Voluntarios</h1>

    <img src="assets/img/voluntarios-group-photo.JPEG" alt="Gruppenfoto der Voluntarios" class="foto" />

    <div class="text">
        Die anderen Voluntarios, die zusammen mit mir nach Cashibo ausgesand wurden. 
        Enno ist 18 Jahre alt und hilft bei praktischen Arbeiten auf dem Gelände.
        Eva ist 19 Jahre alt und arbeitet mit den indigenen Kindern, betreut Missionarskinder oder unterrichtet in der Miki-Schule.
        Tom ist 21 Jahre alt, gelernter Tischler und arbeitet in der Schreinerei des Projekts.
        Karolina ist 20 Jahre alt, besitzt eine Ausbildung als Medizinische Fachangestellte und unterstützt den Arzt in der Enfi.
        Annkathrin ist 18 Jahre alt und kümmert sich genau wie Eva um die indigenen Kindern und Missionarskindern hier.
        Nicht auf dem Bild zu sehen ist Elias. Elias ist 27 Jahre alt, kommt aus der Schweiz und wohnt zusammen mit Tom, Enno und mir im Voluntarios-Haus.
        Er ist studierte Lehrer, unterrichtet in der Miki-Schule oder betreut den Kindergarten. <span class="comment"> (Elias steht oben auf dem Bild rechts von mir) </span>
    </div>
</div>