<div class="blog-post">
    <div class="meta-row">
        <span class="meta-item">
            <i class="bi bi-calendar2"></i>
            <span class="date">September, 20.09.2025</span>
        </span>
        <a class="meta-item" href="https://maps.app.goo.gl/kmFD8sf633dJWYM58" target="_blank" rel="noopener">
            <i class="bi bi-geo-alt"></i>
            <span class="location">Arequipa</span>
        </a>
    </div>
    <hr class="spacer">

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image1" class="blog-float-image-portrait blog-float-image-right"/>

            Hola,
            <br>
            Ich bin jetzt schon seit einem Monat in Südamerika und schließe gerade mein erstes Kapitel hier in Peru ab.
            Die letzte Zeit war voll mit neuen Eindrücken, Erlebnissen und Abenteuern.
            <br>
            Gestartet bin ich am 18. August, eine Woche nach meinem 25. Geburtstag, auf die bisher weiteste und längste
            Reise meines Lebens. Die erste Station führte mich hier nach Arequipa, einer Stadt mit über einer Million
            Einwohnern mitten in den Anden von Peru auf 2300m Höhe. Hier besuchen ich und die anderen Kurzzeitler 
            <span class="comment">(junge Erwachsene, die wie ich ein Jahr mit Forum Wiedenest im Ausland verbringen)</span> 
            eine Sprachschule für Spanisch.
            Das Ziel: in die peruanische Kultur und Sprache einzutauchen, in welcher wir im kommenden Jahr leben werden.
            <br><br>
            Die Sprachschule macht sehr viel Spaß und ich kann mein bisschen Spanisch, das ich in der Uni hatte, sehr
            schnell ausbauen. Der Unterricht besteht aus Grammatik und praktischen Stunden am Vormittag. Auch klassische
            Hausaufgaben wie früher in der Schule gehören dazu. Meine Sprachlehrer sind Pablo und Litos. Mit beiden ist
            der Unterricht hilfreich und entspannt. Die Schule liegt direkt im Zentrum in einem kleinen, ruhigen und
            sehr schönen Innenhof. Der perfekte Ort für Schulpausen. Hier und da fliegen auch kleine braun/graue
            Kolibris zwischen den Bäumen herum. 
            <br>
            Meine Lieblingsbeschäftigung am Morgen, ist die stille Zeit mit einem
            guten Cappuccino in einem kleinen, von Christen geführten Café in der Nähe der Sprachschule.
        </div>

    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image2" class="blog-float-image-portrait blog-float-image-left"/>
            
            Zusammen mit Enno <span class="comment">(geht auch nach Cashibo)</span> war ich bei unseren Gasteltern Maritza und Percy untergebracht.
            Beides superliebe Menschen. Wir leben in einem Haus mit kleinem Innenhof direkt vor der Zimmertür. Maritza
            kocht für uns jeden Tag typisch peruanische Küche. Da beide kein Englisch sprechen, sind wir direkt von Tag
            eins darauf angewiesen, uns auf Spanisch zu unterhalten. Fleisch gehört in Peru ganz klar zu jedem richtigen
            Essen, was für mich als Halbzeitvegetarier etwas gewöhnungsbedürftig ist. Percy arbeitet für einen großen
            Sport-Club im kaufmännischen Bereich. Zusammen mit ihnen besuchen wir die IBC Arequipa, eine Freikirche mit
            mehreren Standorten über die Stadt verteilt. Gegründet wurde diese von amerikanischen und peruanischen
            Pastoren.
            <br><br>
            Die Stadt von Arequipa ist die größte Stadt der Umgebung und Dreh- und Angelpunkt im Süden von Peru. Die
            westliche Prägung aufgrund der spanischen Kolonialisierung ist hier noch in vielen Gebäuden, Kirchen und
            Häusern im Zentrum sichtbar. Mitten im Zentrum, am Plaza de Armas, steht die Kathedrale von Arequipa. Hier
            gibt es auch viele Restaurants und ganz wichtig: Queso Helado – eine Eisspezialität in Arequipa.
            Sehr interessant ist auch das Frauenkloster Santa Catalina. Eine kleine geschlossene Klosterstatt mitten in
            Arequipa, in der auch heute noch Nonnen leben. Den alten Teil des Klosters konnten wir besichtigen und ich
            war von der Größe des Klosters sehr beeindruckt.
            <br>
            Der Verkehr hier in Arequipa ist nochmal eine ganz eigene Sache. Von A nach B kommt man hier mit den Combis.
            Kleinbusse ohne einen klaren Fahrplan. In der Windschutzscheibe stehen immer die wichtigsten Orte, die auf
            der Strecke angefahren werden, und man muss sich schon etwas in der Stadt auskennen, um klarzukommen. Ein,
            zwei Mal sind wir auch schon in die falsche Richtung gefahren.
        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image3" class="blog-float-image-right"/>

            An den Wochenenden bereisen wir die Umgebung und lernen das Land Peru mit seinen vielen wunderschönen und
            vielseitigen Orten kennen. Mein Highlight, aber auch das härteste bis jetzt, war die Besteigung des Misti.
            Ein aktiver Vulkan, über 5800m hoch und das Wahrzeichen von Arequipa. Zwei Tage waren wir unterwegs und in
            der Nacht haben wir am Berg gezeltet. Mein Schlafsack ging nur bis 7 °C Comfort und 5 °C Extrem. In der
            Nacht hatten wir eher –5 °C, aber mit T-Shirt, Pullover, Fleece und Jacke, 2 Hosen und 2 Paar Wandersocken
            auf den Füßen habe ich es überlebt. Wegen des Sands und der Asche rutscht man mit jedem Schritt einen halben
            Schritt wieder herunter, was den Aufstieg sehr langsam macht. Halb erfroren, aber oben angekommen, waren wir
            leider komplett von Wolken umgeben. Kurz aber hat sich der Nebel gelichtet und wir konnten von oben auf die
            komplette riesige Stadt herunterschauen. Der Abstieg ging mit dem Sand dafür umso schneller, sodass wir nach
            7 Stunden Aufstieg, nur eine Stunde wieder herunter zum Zeltlager benötigten.
            <br>
            Die anderen Highlights waren eine Tour in den Salinas-Nationalpark und die Wanderung im Colca Canyon, bei
            der unser Guide am Abend im Dunkeln, drei Nachzügler von uns auf der Strecke vergessen hatte.
            <br><br>
            Insgesamt blicke ich auf eine sehr schöne und gute Zeit hier in Arequipa zurück und bin echt dankbar, dass
            hier alles erleben zu dürfen. Als Nächstes geht es von der trockenen und angenehmen Wüstenumgebung von
            Arequipa, in den feuchten und heißen Dschungel von Pucallpa. Auf der Missionsstation Cashibo werde ich für
            das kommende Jahr leben und arbeiten. Von dort berichte ich euch dann das nächste Mal :)
            <br><br>
            Liebe Grüße und Gottes Segen,
            <br>
            Silas
            <br><br>
            <span class="comment">*Du findest noch mehr Eindrücke von meiner Zeit in Arequipa in Form von Bildern in der Gallerie!</span>
            

        </div>
    </div>

</div>

<!--
    Beispiel: hochkantiges YouTube-Video rechts:
        <iframe *ngIf="youtubeVertical" [src]="youtubeVertical" width="236" height="420" frameborder="0"
            allowfullscreen class="blog-float-video-right blog-float-video-portrait"></iframe>

    Beispiel: horizontales YouTube-Video links
        <iframe *ngIf="youtubeHorizontal" [src]="youtubeHorizontal" width="420" height="236" frameborder="0" 
            allowfullscreen class="blog-float-video-left"></iframe>
                
-->