<div class="blog-post">
    <div class="meta-row">
        <span class="meta-item">
            <i class="bi bi-calendar2"></i>
            <span class="date">Oktober, 31.10.2025</span>
        </span>
        <a class="meta-item pointer" href="https://maps.app.goo.gl/7WHkmepH98F9JNmx8" target="_blank" rel="noopener">
            <i class="bi bi-geo-alt"></i>
            <span class="location">Pucallpa/Cashibo</span>
        </a>
    </div>
    <hr class="spacer">

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image1" class="blog-float-image-right pointer" (click)="openFullImage(image1)" />

            Hallo, <br>
            Inzwischen bin ich seit einem Monat hier in Cashibo.
            Ich hatte etwas Zeit, um mich an das Klima zu gewöhnen und die ersten Eindrücke zu sammeln.
            Ich habe mich gut eingelebt und fühle mich hier sehr wohl.
            In meinem zweiten Rundbrief möchte ich euch einen tieferen Einblick von meiner Anfangszeit und in das Leben auf Cashibo geben.
            <br><br>
            Cashibo ist wunderschön! Die Natur hier ist atemberaubend. Überall ist man umgeben von unbekannten Geräuschen von Tieren, Vögeln und Insekten.
            Auf dem Gelände wachsen viele verschiedene Bäume und Pflanzen mit den unterschiedlichsten Früchten.
            Mangos, Bananen, Ananas, Maracuyas, Lucuma, Kokosnüsse und vieles weitere.
            Das Gelände ist riesig und es gibt viel zu entdecken.
            Hier begegnet man Affen, Schlangen, Echsen und Fröschen, Vogelspinnen und Beutelratten.
            Eigentlich ist gerade erst der Beginn der Regenzeit, aber es hat hier in den letzten Tagen schon häufig geregnet.
            Dadurch wechseln sich extrem heiße Tage <span class="comment">(~38°C)</span> und kühlere <span class="comment">(~26°C)</span> feuchte Tage ab.
            Da steht man schon manchmal öfter als einmal am Tag unter der Dusche, um sich abzukühlen.

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            Ich lebe hier im Voluntarios-Haus zusammen mit Tom, Enno und Elias. 
            Unser Haus besteht aus 4 Zimmern, 2 Bädern und einem Gemeinschaftsraum in der Mitte, der alles verbindet.
            Jeder hat sein eigenes Zimmer mit Bett, Schrank, Schreibtisch und sogar mit Aufhängung für eine Hängematte.
            Diese macht sich, zusammen mit dem Ventilator, besonders an heißen Tagen bezahlt.
            Das Haus besitzt ein hohes Dach, in dem die Hitze gut entweicht und unter dem wir unsere Wäsche zum Trocknen aufhängen können. 

            <img [src]="image2" class="blog-float-image-left pointer" (click)="openFullImage(image2)" />
            
            Wir haben auch eine voll ausgestattete Küche mit Gasofen und Essbereich.
            Die Voluntarias <span class="comment">(as- ist die weibliche Pluralendung im Spanischen) </span> leben in einem eigenen Haus, ein paar Meter von uns entfernt.
            Es gibt keine verglasten Fenster in den Häusern, sondern nur Fliegennetze, wodurch man sehr nah an der Natur lebt. 
            Nachts hört man die Geräuschkulisse der Tropen, was ich sehr genieße.
            <br>
            Die WG-Gemeinschaft ist super. Wir kommen gut miteinander aus und da wir alle unser eigenes Zimmer haben, kann man sich auch mal zurückziehen, wenn man möchte.
            Wir haben direkt einen festen Putz- und Kochplan eingeführt, was die Organisation im Haushalt sehr erleichtert.
            An den Wochenenden kochen wir zusammen mit den Voluntarias. Samstag sie für uns und Sonntag wir für sie.

        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            In der ersten Woche wurden wir direkt herzlich aufgenommen und von vielen der Missionare zum Essen eingeladen.
            Dadurch konnten wir die Menschen hier schnell kennnenlernen. 
            Jeder von uns hat eine Patenfamilie zugewiesen bekommen, die uns während unserer Zeit hier begleitet und für Fragen und Anliegen zur Verfügung steht.
            Meine Padrinos sind Eveline und Jonathan Portugal. Evelin kommt aus der Schweiz und Jonathan ist hier in Pucallpa aufgewachsen. 
            Sie haben 4 Kinder und leben schon seit ein paar Jahren hier auf Cashibo.
            Jonathan ist Pastor einer Gemeinde in Pucallpa. 
            Jeden Mittwochabend bin ich bei ihnen zum Essen eingeladen. 
            Bei den Abendessen versuchen wir auch immer, Spanisch zu sprechen, was mich dazu anhält, mein Spanisch weiter zu verbessern.
            <br>
            Im Moment leben hier ca. 55 Missionare und Mitarbeiter in Cashibo, viele aus der Schweiz oder Deutschland, aber einige auch aus Peru, Paraguay, den USA oder Costa Rica.
            Direkt in der ersten Woche nach unserer Ankunft sind die neuen Bibelschüler nach und nach in Cashibo angekommen.
            Viele kommen mit ihrer Frau und den kleineren Kindern hierhin und nehmen dafür sehr weite Reisen aus den entlegensten Teilen des Amazonasgebiets in Kauf.
            Die meisten von ihnen sind einige Tage unterwegs, oft mit dem Boot über die Flüsse, da es keine Straßenverbindungen zu vielen indigenen Dörfern gibt.
            Der aktuelle Bibelschulblock geht nur etwa zwei Monate. In diesen Monaten leben die Studenten hier auf dem Gelände und besuchen die Kurse in der IBIENA <span class="comment">(Instituto Bíblico para las Iglesias Evangélicas Nativas de la Amazonía)</span>.
            In der Bibelschule werden die Studenten in pädagogischen und theologischen Bereichen geschult.
            Neben dem pädagogischen Kurs gibt es aktuell auch einen Zimmermannskurs, in dem manche Studenten grundlegende Fähigkeiten im Holzhandwerk und auch im Häuserbau erlernen.
            Das Ziel am Ende des Kurses ist es, gemeinsam ein neues Studentenhaus für zukünftige Studentenfamilien zu bauen.
        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            <img [src]="image3" class="blog-float-image-right blog-float-image-portrait pointer" (click)="openFullImage(image3)" />

            Der Tag beginnt für mich meistens um 6 Uhr morgens. Ich mache mich fertig, frühstücke und gehe dann zur devocional <span class="comment">(Morgenandacht)</span>.
            Diese findet jeden Morgen um 7 Uhr in der Kapelle statt und wird jede Woche von einem anderen Missionar geleitet.
            Es gibt einen kleinen Input auf Spanisch und danach werden aktuelle Gebetsanliegen gesammelt. 
            Wir beten jede Woche für einen anderen indigenen Stamm in Peru und für die Arbeit vor Ort.
            Danach geht es um 7:30 Uhr in den Arbeitsalltag.
            Ich arbeite hier im Büro und bin als ITler für die technische Infrastruktur und die Administration zuständig. 
            Zu meinen Aufgaben gehören die Wartung des Netzwerks, die technische Unterstützung der Mitarbeiter und die Weiterentwicklung des Datenbanksystems, welches für die Verwaltung in allen möglichen Bereichen genutzt wird.
            Um 10 Uhr gibt es die 30-minütige Znünipause <span class="comment">(Frühstückspause)</span>.
            Hier trinken wir häufig gemeinsam Eis-Kaffee, ein sehr essenzielles Getränk in der Hitze Perus.
            Am Mittag gibt es eine große Pause von 12:15 Uhr bis 14:00 Uhr. So wird die heißeste Zeit des Tages umgangen.
            Ich habe das Glück, dass ich in einem klimatisierten Büro arbeiten kann. Daher fällt mir die Arbeit bei der Hitze hier etwas leichter.
            Der Arbeitstag endet um 17 Uhr. Danach spielen wir manchmal zusammen Fußball mit den Indigenen oder Volleyball.
        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">
            Jeden Montagabend findet der Voluntarios-Abend statt. Dieser Abend ist für uns Voluntarios und wird von zwei Missionarsehepaaren geleitet.
            Alle zwei Wochen gibt es einen Input zu einem apologetischen Thema und in den anderen Wochen veranstalten wir einen Gemeinschaftsabend mit Spielen, Filmen oder anderen Aktivitäten.
            <br>

            Jeden zweiten Mittwoch gestalten wir Voluntarios die Jungschar für alle Kinder auf dem Gelände. 
            Die Jungschar ist besonders herausfordernd, da manche Kinder hier Deutsch sprechen, manche Spanisch und zwei Kinder nur Englisch.

            <img [src]="image4" class="blog-float-image-left blog-float-image-portrait pointer" (click)="openFullImage(image4)" />
            
            Daher versuchen wir alles möglichst auf Spanisch zu halten, was bei unserem Spanisch mal besser und mal schlechter funktioniert.
            Viele der etwas älteren deutschsprachigen Kinder können deutlich besser Spanisch als wir und helfen uns dann beim Übersetzen.
            <br>

            Donnerstag treffen wir uns jede Woche zum Hauskreis. Wir wurden extra so über die Hauskreise verteilt, dass wir mit Menschen zusammenkommen, mit denen wir nicht auch schon im Alltag viel zu tun haben.
            So lernen wir noch mehr Menschen hier kennen und die Welt fühlt sich nicht ganz so klein an.
            <br>
            An den anderen Tagen genießen wir einfach die Freizeit, gehen nach Pucallpa, die Stadt erkunden oder einkaufen.
            Von Pucallpa erzähle ich euch aber erst im nächsten Rundbrief mehr.
            <br>
            Sonntags gibt es hier auf Cashibo immer einen Gottesdienst in der Kapelle.
            Es wird gesungen, gebetet und es gibt eine Predigt.
            In jedem Gottesdienst gibt es auch immer die Möglichkeit, im "Especiales" einen eigenen Beitrag zu bringen.
            Dies nutzen häufig die Indigenen, um ein Lied in ihrer eigenen Sprache zur Ehre Gottes zu singen.
            Nach dem Gottesdienst fahren wir am Nachmittag häufig zur Cocha, einem See am anderen Ende vom Gelände, um dort zu schwimmen und zu entspannen.
            Sehr erfrischend ist die Cocha allerdings nicht, da das Wasser von der Sonne ziemlich aufgeheizt wird.
        </div>
    </div>

    <div class="blog-float-wrap">
        <div class="blog-float-text">

            Ich fühle mich hier sehr wohl und bin Gott dafür dankbar, dass er mich hierhergeführt hat.
            Ich kann mich schon ab Tag eins mit meinen Fähigkeiten hier in Gottes Dienst einbringen und habe das Gefühl, gebraucht zu werden.
            Es ist spannend zu sehen, wie Gott mich hier gebrauchen will, und ich bin gespannt, was die nächsten Monate hier noch bringen werden.
            Vielen Dank an alle, die mich mit Gebet und Unterstützung begleiten!
            <br><br>
            Es gibt noch viel mehr zu erzählen, aber das würde den Rahmen dieses Rundbriefs sprengen.
            Ich freue mich darauf, euch in den nächsten Rundbriefen weiter von meinem Leben hier in Cashibo zu berichten und auch mehr von Pucallpa zu erzählen.
            <br>
            Bis dahin alles Gute und Gottes Segen!

            <img src="assets/img/unterschrift.png" alt="Unterschrift Silas" class="signature-image"/>
        </div>
    </div>

    <div class="gebetsanliegen">
        <img src="assets/img/prayer.png" class="gebetsanliegen-image" alt="Gebetsanliegen Icon"/>

        <div class="gebetsanliegen-content">
            <h3>Gebetsanliegen</h3>
            <p class="bullets-intro">Hier ein paar Punkte, die ihr gern im Gebet mittragen könnt:</p>
            <ul class="bullets" role="list" aria-label="Gebetsanliegen">
                <li><span class="bullet-title">Dank:</span> Für den guten Start und dass ich mich hier mit meinen Fähigkeiten einsetzen darf.</li>
                <li><span class="bullet-title">Sprachenlernen:</span> Motivation, weiter am Spanischen dran zu bleiben, um auch mehr mit den Einheimischen hier Kontakt aufzunehmen.</li>
            </ul>
        </div>
    </div>

</div>