.blog-page {
    padding: 0 10%;
    color: #CAD2C5;
}

.blog-post {
    margin-top: 50px;
}

.spacer{
    border: 1px solid #CAD2C5;
    margin: 0 auto 20px auto;
    opacity: 0.8;
}

.date {
    margin: 0;
}

.load-more {
    margin-top: 50px;
    text-align: center;
    font-size: clamp(20px, 2vw, 30px);
    cursor:pointer
}

