.blog-page {
    padding: 0 10%;
    color: #CAD2C5;
}

.load-more {
    margin-top: 50px;
    text-align: center;
    font-size: clamp(15px, 1.5vw, 20px);
    cursor:pointer
}
.load-more-icon {
    width: clamp(75px, 2.0vw, 120px);
    display: block;
    margin: 0 auto;
    transition: transform 0.2s;
}
.load-more:hover .load-more-icon {
    transform: translateY(8px);
}

