<div class="blog-page">

    <div class="blog-post">
        <p class="date">September, 21.09.2025</p>
        <hr class="spacer">

        Hallo, ich bin ein Blogbeitrag. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.

    </div>

    <div class="blog-post">
        <p class="date">Oktober, 21.09.2025</p>
        <hr class="spacer">

        Hallo, ich bin ein Blogbeitrag. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.

    </div>

    <div class="blog-post">
        <p class="date">November, 21.09.2025</p>
        <hr class="spacer">

        Hallo, ich bin ein Blogbeitrag. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.
        Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte. Ich bin ein Platzhaltertext, der dazu dient, den Blog zu füllen. Ich bin hier, um Ihnen zu zeigen, wie der Blog aussieht und wie er funktioniert. Ich bin ein Beispieltext, der Ihnen hilft, sich vorzustellen, wie Ihr Blog aussehen könnte.

    </div>

    <div class="load-more" (click)="onLoadMore()">
        <div class="load-more-title">
            Mehr Anzeigen
        </div>
    </div>

</div>
